@model ProyectoWeb.Models.Permisos

@{
    ViewData["Title"] = "Registrar";
}

<h1 style="text-align:center">Registrar Permiso</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="idPermisos" class="control-label"></label>
                <input asp-for="idPermisos" class="form-control" />
                <span asp-validation-for="idPermisos" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="nombrePermiso" class="control-label"></label>
                <input asp-for="nombrePermiso" class="form-control" />
                <span asp-validation-for="nombrePermiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estadoPermiso" class="control-label"></label>
                <input asp-for="estadoPermiso" class="form-control" />
                <span asp-validation-for="estadoPermiso" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Mostrar">Regresar a la Lista</a>
</div>

