@model ProyectoWeb.Models.Vacunas

@{
    ViewData["Title"] = "Registrar";
}

<h1 style="text-align:center">REGISTRAR VACUNA</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Registrar">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="idVacunas" class="control-label"></label>
                <input asp-for="idVacunas" class="form-control" />
                <span asp-validation-for="idVacunas" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="nombreVacuna" class="control-label">Nombre</label>
                <input asp-for="nombreVacuna" class="form-control" />
                <span asp-validation-for="nombreVacuna" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="estadoVacuna" class="control-label">Estado</label>
                <input asp-for="estadoVacuna" class="form-control" />
                <span asp-validation-for="estadoVacuna" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Crear" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Mostrar">Volver a la Lista</a>
</div>

